<mat-card class="example-card" *ngFor="let u of lista">
  <mat-card-title>{{ u.name | uppercase }} </mat-card-title>
  <mat-card-subtitle>{{ u.email | lowercase }}  </mat-card-subtitle>
  <mat-card-subtitle>{{ u.username | lowercase }}  </mat-card-subtitle>
  <mat-card-actions>
    <button mat-button [routerLink]="['/listaToDos', u.id, true]">Completos</button>
    <button mat-button [routerLink]="['/listaToDos', u.id, false]">Incompletos</button>
  </mat-card-actions>
</mat-card>